@model PartialViewTabbed.Models.TransactionModel
<p>Partial View rendered through tab1</p>
<p>Transaction Id: @Model.intTransactionId</p>
<p>Transaction Name: @Model.strTransactionName</p>
<p>Transaction Date: @Model.dtmTransactionDate</p>
